# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.eslintcache

# Local env files
.env
.env.*
!.env.example

# Template
template/bun-lock.yaml

# npm pack
*.tgz

# Temp files
.tmp
.profile
*.0x

#VSC
.history

# Starters
.starters/default/bun-lock.yaml
.starters/default/bun-workspace.yaml
.starters/i18n/bun-lock.yaml
.starters/i18n/bun-workspace.yaml